* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

button:active,
.button:focus {
  -webkit-tap-highlight-color: transparent;
}

.bd-container {
  max-width: 1240px;
  margin-right: 1rem;
  margin-left: 1rem;
}

@media screen and (min-width: 1240px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}
